@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blaka";
  src: local("Blaka"),
    url("./fonts/Blaka/Blaka-Regular.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Blaka';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #d9d9d9;
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;

}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 0px solid #ffffff;
}