@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blaka";
  src: local("Blaka"),
    url("./fonts/Blaka/Blaka-Regular.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Blaka';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}